:root {
  --raisin-black: hsla(231, 10%, 14%, 1);
  --roman-silver: hsla(229, 10%, 57%, 1);
  --eerie-black: hsla(228, 9%, 10%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white_a10: hsla(0, 0%, 100%, 0.1);
  --white_a5: hsla(0, 0%, 100%, 0.05);

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  --cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);

}






/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 12px; }

.layer-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider {
  --slider-items: 1;
  --item-gap: 1px;

  margin-block-start: 60px;
}

.slider-container {
  position: relative;
  display: flex;
  gap: var(--item-gap);
  transition: transform var(--cubic-ease-out);
}

.slider-item {
  --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
  --item-width: calc((100% / 2));

  min-width: var(--item-width);
  width: var(--item-width);
}

body.dark_theme {
  --white-arrow: hsl(0, 20%, 96%);
}

body.light_theme {
  --white-arrow: hsl(24, 65%, 52%);
}

.slider-control {
  position: relative;
  max-width: max-content;
  padding-block: 8px;
  opacity: 0.5;
}

.slider-control .line {
  width: 30px;
  height: 2px;
  background-color: var(--white-arrow);
}

.slider-control .arrow {
  position: absolute;
  transform: translateY(-60%) rotate(45deg);
  width: 10px;
  height: 12px;
  border-style: solid;
  border-color: var(--white-arrow);
}

.slider-control.prev .arrow {
  left: 0;
  border-width: 0 0 2px 2px;
}

.slider-control.next .arrow {
  right: 0;
  border-width: 2px 2px 0 0;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--white_a5);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

.skills .section-text { margin-block-end: 20px; }

.skills .btn { margin-block: 45px; }

.skills-list li:not(:last-child) { margin-block-end: 30px; }

.progress-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: var(--fw-700);
  margin-block-end: 5px;
}

.progress-bg {
  height: 6px;
  background-color: var(--raisin-black);
  border-radius: var(--radius-pill);
}

.progress {
  height: inherit;
  background-color: var(--white);
  border-radius: inherit;
}





/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.portfolio .slider { --item-gap: 16px; }

.portfolio-card {
  position: relative;
  background-color: transparent;
  transition: var(--cubic-ease-out);
}

.portfolio-card .img-cover { transition: var(--cubic-ease-out); }

.portfolio-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-55%, -50%);
  opacity: 0;
  transition: var(--cubic-ease-out);
  z-index: 1;
}

.portfolio-card .card-text { color: var(--white); }

.portfolio-card:is(:hover, :focus-within) .img-cover {
  opacity: 0.1;
  transform: scale(0.95);
}

.portfolio-card:is(:hover, :focus-within) .card-content {
  transform: translate(-50%, -50%);
  opacity: 1;
}






/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container { 
    max-width: 570px;
    width: 100%;
    margin-inline: auto;
  }

  .slider { --slider-items: 2; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 6rem;
    --fs-3: 5.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .title-wrapper {
    display: flex;
    gap: 10%;
  }

  .title-wrapper .section-title { margin-block-end: 0; }

  .title-wrapper .section-text { margin-block-start: 40px; }


  /**
   * SKILL
   */

  .skills-wrapper {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 40px;
  }

  .skills .btn { margin-block-end: 0; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-3: 7rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .title-wrapper { gap: 15%; }

  .slider { --slider-items: 3; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 140px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1140px; }

}